FORMAT: 1A
HOST: https://api.cloudsploit.com/v2

# Aqua CSPM API

The Aqua CSPM API (formerly the "CloudSploit" API) allows your applications to interact with the CloudSploit service.
It is important to note that not all functionality (namely account-level and billing changes) is exposed through the API, so please
browse the examples below.

## Getting Started

To access the API, you will need to be a paid plan user and have a valid API access
key and secret. This is **not** your AWS access key. To generate a CloudSploit
access key, sign into the dashboard and click "API Keys." On the right, click
"Generate API Key." Be sure to record the access key and secret that appears in the dialog
window because you will not be able to retrieve the secret again after leaving the page.

## API Details

| Setting             | Value                                                          |
|---------------------|----------------------------------------------------------------|
| Base Endpoint       | https://api.cloudsploit.com/v2 |
| Content-Type        | application/json                                               |
| Required Headers    | X-API-Key, X-Signature, X-Timestamp                            |
| Signature Format    | HMAC SHA-256                                                   |
| HMAC Encoding       | Hex                                                            |
| Max Timestamp Drift | 30 Seconds                                                     |

## Signature Creation

The signature is generated with the following algorithm:

```
hmac256(timestamp + method + requestPath + body, secret)
```

* **timestamp**: the Unix UTC timestamp in seconds
* **method**: the HTTP method in uppercase. Ex: GET, POST
* **requestPath**: the path. Ex: /v2/realtimes
* **body**: The JSON stringified body (if no body, use an empty string)
* **secret**: The secret obtained from the CloudSploit dashboard

**IMPORTANT:**

> It is critical that the string used to create the signature matches what the server expectes.
Even a single space in the wrong place can cause the signature to be invalid. Do not use spaces
bewtween fields or separators in the JSON-stringified body or elsewhere in the signature string.

**A Note About Querystrings**

> When generating the signature, querystring values should not be included. This prevents
unordered strings from resulting in an "invalid signature" error. For example, if the
full URL is "/v2/suppressions?key_id=50", then the signature should be calculated on
"/v2/suppressions".

### Example Signature Creation

```
var crypto = require('crypto');
var moment = require('moment');
var request = require('request');
 
var key = '<cloudsploit-key>';
var secret = '<cloudsploit-secret>';
var endpoint = 'https://api.cloudsploit.com';
var path = '/v2/scans';
var timestamp = (moment.unix(new Date()))/1000;
 
var string = timestamp + 'GET' + path;
 
var hmac = crypto.createHmac('sha256', secret);
hmac.setEncoding('hex');
hmac.write(string);
hmac.end();
var signature = hmac.read();
 
var options = {
    method: 'GET',
    url: endpoint + path,
    headers: {
        'X-API-Key': key,
        'X-Signature': signature,
        'X-Timestamp': timestamp,
        "Content-Type": "application/json"
    }
};
 
request(options, function (error, response, body){
    if (error) return console.log(error);
    console.log(JSON.stringify(response));
});
```

### Code Samples

You can find more code examples in our [api-samples GitHub repository](https://github.com/cloudsploit/api-samples).

## Error Responses

The API attempts to follow standard error responses. An error response will look like the following:

```
{
    "status":404,
    "code": 1,
    "message": "The resource could not be found"
    "errors": [
        "We could not find the requested resource."
    ]
}
```

Additionally, errors will have the HTTP Status Code set in the response headers.

## Enveloping

The current API response wraps the actual response data in an envelope containing the HTTP Status code
and the "0" status. For example:

```
{
    "status": 200,
    "code": 0,
    "data": {
        "id": 1,
        ...
    }
}
```

This will be removed soon and the "data" portion will be returned as the base response:

```
{
    "id": 1,
    ...
}
```

We will send a notice ahead of time to API users when this change will be occurring.

# Group Accounts

## Account [/accounts/{id}{?expand}]

The API allows for the retrieval of account details but does not allow `PUT` or `DELETE` operations
for security purposes. These operations affect the status of the entire account and must be performed
through the UI.

### GET - View Account Details [GET]

+ Parameters
    + id (number) - ID of the account
    + expand (string, optional) - Whether the response should contain expanded relations. Valid values: `plan`, `user`, `key`

+ Request (application/json)
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910

+ Response 200 (application/json)
    + `id` (number) - The account ID
    + `stripe_id` (string) - The customer ID if billing details have been submitted. If this is `null` the account is not a registered customer.
    + `referral_code` (string) - The referral code that can be used to refer customers.
    + `referred_with` (string) - The referral code that was used at signup.
    + `created` (date) - The date of the account creation.
    + `current_plan` (number) - The plan ID that is associated with the account.
    + `num_allowed_keys` (number) - How many upgraded keys are allowed with the current plan.
    + `high_cost_allowed` (boolean) - Whether the account can submit payments larger than $10000/month.
    + `trial_end` (date) - A date when the account's trial ends, if applicable
    
    + Body
    
            {
                "id": 1,
                "stripe_id": "cus_abc123def",
                "referral_code": "ABC123DEF4",
                "referred_with": "GHI567JKL8",
                "created": "2015-07-12T14:35:42.000Z",
                "current_plan": 50,
                "num_allowed_keys": 1,
                "high_cost_allowed": false
            }

# Group Alerts

## Alerts Collection [/alerts{?expand,limit,offset}]

### GET - List All Alerts [GET]

+ Parameters
    + expand (string, optional) - Whether the response should contain expanded relations. Valid values: `key`, `integration`, `test`
    + limit (number, optional) - A limit on the number of responses to return.
    + offset (number, optional) - An offset value for pagination.

+ Request (application/json)
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910

+ Response 200 (application/json)
    + `id` (number) - The alert ID
    + `result` (number) - The result on which to alert. Valid values: `1` (WARN), `2` (FAIL)
    + `enabled` (boolean) - Whether the alert is enabled.
    + `created` (date) - The date of the alert creation.
    + `test_id` (number) - The test ID that is associated with the alert.
    + `account_id` (number) - The account ID that is associated with the alert.
    + `key_id` (number) - The key ID that is associated with the alert.
    
    + Body
    
            [
                {
                    "id": 1,
                    "result": 1,
                    "enabled": true,
                    "created": "2016-04-18T20:53:52.000Z",
                    "test_id": 124,
                    "account_id": 1,
                    "key_id": 1
                }
            ]
            
### POST - Create a New Alert [POST]

Before submitting a new alert, you must have valid integration ID(s), test ID, and key ID.
You can obtain these via the respective API endpoints.

It is also important to understand CloudSploit's result methodology. A "2" is a failing result,
while a "1" is a warning result. You cannot create an alert for a passing ("0") or unknown
result ("3"). If you create an alert for a warning and a scan results in a failure, the alert
will be triggered because a failure implies the warning was triggered as well.

+ Request (application/json)
    + `result` (number) - The result to alert on - either `1` or `2`.
    + `enabled` (boolean) - Optional. Whether the alert should be enabled or not. Default: `true`
    + `key_id` (number) - The ID of the key to be used with the alert.
    + `test_id` (number) - The ID of the test to be used with the alert
    + `integration_ids` (array) - An array of integration IDs to send the alert to when triggered
    
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910
            
    + Body
    
            {
                "result": 2,
                "enabled": true,
                "test_id": 11,
                "key_id": 1
            }

+ Response 201 (application/json)
    + `id` (number) - The alert ID
    + `result` (number) - The result - warning or failing - 1 or 2
    + `enabled` (boolean) - Whether the alert is enabled or not
    + `created` (date) - The date time that the alert was created
    + `test_id` (number) - The ID of the test associated with the alert
    + `account_id` (number) - The account ID of the alert
    + `key_id` (number) - The ID of the key associated with the alert
    + `key` (object) - The key object for the alert
    + `integrations` (array) - An array of integration objects for the alert
    + `test` (object) - The test object for the alert
    
    + Body

            {
                "id": 100,
                "result": 2,
                "enabled": true,
                "created": '2016-11-03T00:45:48.000Z',
                "test_id": 11,
                "account_id": 1,
                "key_id": 1,
                "key": {},
                "integrations": [{}],
                "test": {}
            }

## Alert [/alerts/{id}{?expand}]

### GET - View Alert Details [GET]

+ Parameters
    + id (number) - ID of the alert
    + expand (string, optional) - Whether the response should contain expanded relations. Valid values: `key`, `integration`, `test`

+ Request (application/json)
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910

+ Response 200 (application/json)
    + `id` (number) - The alert ID
    + `result` (number) - The result on which to alert. Valid values: `1` (WARN), `2` (FAIL)
    + `enabled` (boolean) - Whether the alert is enabled.
    + `created` (date) - The date of the alert creation.
    + `test_id` (number) - The test ID that is associated with the alert.
    + `account_id` (number) - The account ID that is associated with the alert.
    + `key_id` (number) - The key ID that is associated with the alert.
    
    + Body
    
            {
                "id": 1,
                "result": 1,
                "enabled": true,
                "created": "2016-04-18T20:53:52.000Z",
                "test_id": 124,
                "account_id": 1,
                "key_id": 1
            }

### PUT - Update an Alert [PUT]

An alert's `enabled`, `result`, `key_id`, and `integration_ids` fields can be updated.
You cannot update the `test_id` field (it's better to simply create a new alert).

+ Request (application/json)
    + `result` (number) - The result to alert on - either `1` or `2`.
    + `enabled` (boolean) - Optional. Whether the alert should be enabled or not. Default: `true`
    + `integration_ids` (array) - An array of integration IDs to send the alert to when triggered
    
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910
            
    + Body
    
            {
                "result": 1,
                "enabled": false,
                "integration_ids": [1, 2]
            }

+ Response 200 (application/json)
    
    + Body

            {
                "status": 200,
                "code": 0,
                data: {}
            }

### DELETE - Delete an Alert [DELETE]

When you remove an alert, you will stop receiving notifications to all of
the connected integrations for that alert within five minutes.

+ Request (application/json)

    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910

+ Response 200 (application/json)
    
    + Body

            {
                "status": 200,
                "code": 0,
                data: {}
            }

# Group API Keys

## API Keys Collection [/apikeys{?limit,offset,open_access}]

API Keys are CloudSploit API keys, **not** AWS account access keys. You cannot retrieve
any key's secret through the API. Secrets are only exposed at the time of creation.

For security and logistical reasons, you cannot delete or create API keys using the API.

### GET - List All API Keys [GET]

+ Parameters
    + limit (number, optional) - A limit on the number of responses to return.
    + offset (number, optional) - An offset value for pagination.
    + open_access (boolean, optional) - Whether only apikeys that are open access should be returned.

+ Request (application/json)
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910

+ Response 200 (application/json)
    + `id` (number) - The apikey ID
    + `access_key` (string) - The API key value.
    + `created` (date) - The date of the alert creation.
    + `open_access` (boolean) - Whether the apikey is enabled for non-connected account scanning (consultant plan only).
    + `scans_per_month` (number) - The number of scans that can be performed each month.
    + `account_id` (number) - The account ID that is associated with the apikey.
    
    + Body
    
            [
                {
                    "id": 1,
                    "access_key": "th8Zkr5dqzmCNvagzYJAiV",
                    "created": "2016-09-18T20:12:38.000Z"
                    "open_access": true,
                    "scans_per_month": 10,
                    "account_id": 1
                }
            ]

## API Key [/apikeys/{id}]

### GET - View API Key Details [GET]

+ Parameters
    + id (number) - ID of the apikey

+ Request (application/json)
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910

+ Response 200 (application/json)
    + `id` (number) - The apikey ID
    + `access_key` (string) - The API key value.
    + `created` (date) - The date of the alert creation.
    + `open_access` (boolean) - Whether the apikey is enabled for non-connected account scanning (consultant plan only).
    + `scans_per_month` (number) - The number of scans that can be performed each month.
    + `account_id` (number) - The account ID that is associated with the apikey.
    
    + Body
    
            {
                "id": 1,
                "access_key": "th8Zkr5dqzmCNvagzYJAiV",
                "created": "2016-09-18T20:12:38.000Z"
                "open_access": true,
                "scans_per_month": 10,
                "account_id": 1
            }

# Group Audit Logs

## Audit Logs Collection [/auditlogs{?limit,offset,start_date,end_date}]

Audit Logs are an opt-in, Premium Plan feature for users. If you would like audit logging enabled, please
open a support ticket and it will be enabled globally for your accounts.

Audit logging tracks API calls to sensitive CloudSploit endpoints. Please note that these logs are _not_
related to AWS usage, but rather the usage of CloudSploit services by your account's users.

Only one of `user` or `apikey` will be returned in the response, depending on which type invoked the audited
API call.

### GET - List All Audit Logs [GET]

+ Parameters
    + limit (number, optional) - A limit on the number of responses to return.
    + offset (number, optional) - An offset value for pagination.
    + start_date (string, optional) - A filter for date range. Format: YYYY-MM-DD.
    + end_date (string, optional) - A filter for date range. Format: YYYY-MM-DD.

+ Request (application/json)
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910

+ Response 200 (application/json)
    + `id` (number) - The audit log ID
    + `ip_address` (string) - The IP address of the invoking user
    + `resource` (string) - The affected CloudSploit endpoint resource
    + `resource_id` (number) - The ID of the affected CloudSploit endpoint resource
    + `action` (string) - The HTTP verb action taken on the resource (GET, POST, DELETE, etc.)
    + `message` (string) - A description of the action
    + `user` (object) - A user object containing an `email` property of the user performing the action
    + `apikey` (object) - An API key object containing the `access_key` property of the API key performing the action.
    
    
    + Body
    
            [
                {
                    "id": 1,
                    "ip_address": "123.1.2.3",
                    "resource": "apikeys",
                    "resource_id": 123,
                    "action": "DELETE",
                    "message": "An API key was deleted"
                    "user": {
                        "email": "test@example.com"
                    }
                }
            ]

# Group Audits

## Audits Collection [/audits{?test_id}]

Audits return a list of all results for all accounts given a specific test. These results are useful
to see all results across all accounts in your entire AWS environment.

### GET - List All Audits [GET]

+ Parameters
    + test_id (number) - An ID of the test to audit.

+ Request (application/json)
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910

+ Response 200 (application/json)
    + `id` (number) - The key ID (connected account)
    + `name` (string) - The name of the connected account
    + `scans` (array) - A list of scans for this account (always the most recent)
        + `id` (number) - The scan ID
        + `results` (array) - The results of the scan for the provided test_id
            + `result` (number) - The result of the test (`0` for `PASS`, `1` for `WARN`, `2` for `FAIL`, and `3` for `UNKNOWN`)
            + `resource` (string) - If applicable, the affected resource ARN or other identifier
            + `message` (string) - The test message output
            + `region` (string) - The affected AWS region
            + `scan_id` (number) - The ID of the scan

    + Body
    
            [
                {
                    "id": 123,
                    "name": "My Account",
                    "scans": [
                        {
                            "id": 12345,
                            "results": [
                                {
                                "result": 2,
                                "scan_id": 12345,
                                "region": "us-east-1",
                                "resource": "some resource",
                                "message": "This test failed."
                                }
                            ]
                        }
                    ]
                }
            ]

# Group Categories

## Categories Collection [/categories{?limit,offset}]

Categories are a global endpoint available to all users. They encompass the main plugin categories
and roughly follow the AWS service names (EC2, VPC, etc.). You cannot create new categories or
modify existing ones.

### GET - List All Categories [GET]

+ Parameters
    + limit (number, optional) - A limit on the number of responses to return.
    + offset (number, optional) - An offset value for pagination.

+ Request (application/json)
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910

+ Response 200 (application/json)
    + `id` (number) - The category ID
    + `name` (string) - The category name
    
    + Body
    
            [
                {
                    "id": 1,
                    "name": "CloudTrail"
                },
                {
                    "id": 3,
                    "name": "EC2"
                }
            ]

## Category [/categories/{id}]

### GET - View Category Details [GET]

+ Parameters
    + id (number) - ID of the category

+ Request (application/json)
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910

+ Response 200 (application/json)
    + `id` (number) - The category ID
    + `name` (string) - The category name
    
    + Body
    
            {
                "id": 3,
                "name": "EC2"
            }

# Group Controls

## Controls Collection [/controls{?limit,offset}]

Controls are a list of required security controls related to a compliance program.

### GET - List All Controls [GET]

A list of all controls that are available in the account, for all programs.

+ Parameters
    + limit (number, optional) - A limit on the number of responses to return.
    + offset (number, optional) - An offset value for pagination.

+ Request (application/json)
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910

+ Response 200 (application/json)
    'id', 'name', 'created', 'description', 'program_id'

    + `id` (number) - The control ID
    + `name` (string) - Name of the compliance control
    + `description` (string) - Description of the compliance control
    + `created` (date) - The date of the control creation.
    + `program_id` (number) - The ID of the program to which the control is associated.
    
    + Body

            [
                {
                  "id": 1,
                  "name": "Requirement 1 - Firewalls",
                  "description": "Install and maintain a firewall configuration to protect cardholder data.",
                  "created": "2020-08-28T14:05:06.000Z",
                  "program_id": 1
                },
                {
                  "id": 2,
                  "name": "Requirement 2 - Defaults",
                  "description": "Do not use vendor-supplied defaults for system passwords and other security parameters.",
                  "created": "2020-08-28T14:05:06.000Z",
                  "program_id": 1
                }
            ]

### POST - Create a New Control [POST]

Controls can only be created for custom compliance programs (i.e. you cannot create a control on
a built-in compliance program such as PCI or HIPAA).

+ Request (application/json)
    + `name` (string) - The control name
    + `description` (string) - The control description.
    
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910
            
    + Body
    
            {
                "name": "My Compliance Control",
                "description": "Description of the control",
                "program_id": 10
            }

+ Response 201 (application/json)
    + `id` (number) - The control ID
    + `name` (string) - The control name
    + `description` (string) - The control description.
    + `created` (date) - The date of the control creation

    + Body

            {
                "id": 1,
                "name": "My Compliance Control",
                "description": "Description of the control"
                "created": "2015-09-01T04:47:57.000Z",
                "program_id": 10
            }

## Control [/controls/{id}{?expand}]

### GET - View Control Details [GET]

+ Parameters
    + id (number) - ID of the control
    + expand (string, optional) - Whether the response should contain expanded relations. Valid values: `test`

+ Request (application/json)
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910

+ Response 200 (application/json)
    + `id` (number) - The control ID
    + `name` (string) - The control name
    + `description` (string) - The control description.
    + `program_id` (number) - The ID of the program to which the control is associated.
    
    + Body
    
            {
                "id": 27,
                "name": "Test Controls One",
                "description": "This control shall be implemented by all users",
                "program_id": 3
            }

### PUT - Update a Control [PUT]

Controls can be updated by adding or removing mapped tests, or by modifying the name or description.

+ Request (application/json)
    + `name` (string) - The control name
    + `description` (string) - The control description.
    + `action` (string) - Whether a plugin is being mapped (`adding`) or unmapped (`removing`)
    + `test_id` (number) - The ID of the test being mapped or unmapped
    
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910
            
    + Body
    
            {
                "name": "A new control name",
                "description": "A new control description",
                "action": "adding",
                "test_id": 123
            }

+ Response 200 (application/json)
    
    + Body

            {
                
            }

### DELETE - Delete a Control [DELETE]

+ Request (application/json)

    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910

+ Response 200 (application/json)
    
    + Body

            {
                
            }

# Group Generated IDs

Generated IDs are required to onboard an AWS account via the API. The generated ID is a UUID that
has been generated on your behalf by the Aqua Cloud system. When connecting the cloud account, you
must pass the same generated ID as the external ID for the connection to work.

## Generated IDs Collection [/generatedids]

### POST - Create a Generated ID [POST]

You may request up to 50 generated IDs at once.

+ Request (application/json)
    + `count` (number) - The number of generated IDs to generate - between `1` and `50`.
    
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910
            
    + Body
    
            {
                "count": 2
            }

+ Response 201 (application/json)
    + `generated_id` (string) - The generated UUID
    + `account_id` (number) - The account ID mapped to the IDs
    
    + Body

            [
                {
                    "generated_id": "d1ca9505-393c-4efb-ad9a-314c34c20f93",
                    "account_id": 123
                },
                {
                    "generated_id": "72e4e642-a585-4ca9-88f7-10534cbcae6e",
                    "account_id": 123
                }
            ]

# Group Compliances

## Compliances Collection [/compliances{?scan_id,program_id}]

Compliances are scan reports formatted for a specific compliance program (e.g. HIPAA). To obtain these
results, send a `scan_id` (obtained from `/scans`) and a `program_id` (obtained from `/programs`).

### GET - List All Compliances [GET]

+ Parameters
    + scan_id (number) - The ID of a scan
    + program_id (number) - The ID of a compliance program

+ Request (application/json)
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910

+ Response 200 (application/json)
    + `id` (number) - The compliance control ID
    + `name` (string) - The compliance control name
    + `description` (string) - A description of the compliance control
    + `program_id` (number) - The ID of the compliance program
    + `tests` (array) - An array of tests run as part of the control
        + `id` (number) - The test ID
        + `query` (string) - The shorthand referenced used internally for the test.
        + `title` (string) - The title of the test.
        + `description` (string) - A description of what the test does.
        + `more_info` (string) - A longer description of the risk being checked by the test.
        + `recommended_action` (string) - Remediation information for the user.
        + `link` (string) - A link to AWS documentation for steps to remediate the risk.
        + `category_id` (number) - The ID of the category for this suppression.
        + `hipaa_enabled` (boolean) - Whether the test is run for HIPAA scans
        + `hipaa_description` (string) - A description of the test for HIPAA compliance
        + `account_id` (number) - Whether this test is custom to any account (null if not; global)
        + `results` (array) - An array of result objects for this test
            + `id` (number) - The unique result ID
            + `result` (number) - The result of the test (`0` for `PASS`, `1` for `WARN`, `2` for `FAIL`, and `3` for `UNKNOWN`)
            + `resource` (string) - If applicable, the affected resource ARN or other identifier
            + `message` (string) - The test message output
            + `region` (string) - The affected AWS region
            + `discovered` (boolean) - Whether the result was newly discovered during this scan (as opposed to during a previous scan)
            + `created` (date) - The date of the result creation
    
    + Body
    
            [
                {
                  "id": 1,
                  "name": "164.312(a)(1) Access Controls",
                  "description": "Implement technical policies and procedures for electronic information systems that maintain electronic protected health information to allow access only to those persons or software programs that have been granted access rights as specified in § 164.308(a)(4).",
                  "program_id": 2,
                  "tests": [
                    {
                      "id": 1,
                      "query": "cloudtrailBucketDelete",
                      "title": "CloudTrail Bucket Delete Policy",
                      "description": "Ensures CloudTrail logging bucket has a policy to prevent deletion of logs without an MFA token",
                      "more_info": "To provide additional security, CloudTrail logging buckets should require an MFA token to delete objects",
                      "recommended_action": "Enable MFA delete on the CloudTrail bucket",
                      "link": "http://docs.aws.amazon.com/AmazonS3/latest/dev/Versioning.html#MultiFactorAuthenticationDelete",
                      "default": true,
                      "hipaa_enabled": true,
                      "hipaa_description": "An MFA delete policy helps ensure that individuals attempting to delete CloudTrail logs have verified their identity. HIPAA requires strict access controls for users modifying the environments in which HIPAA data is stored.",
                      "category_id": 1,
                      "account_id": null,
                      "results": [
                        {
                          "id": 123456,
                          "result": 1,
                          "resource": "arn:aws:s3:::my-sample-bucket",
                          "message": "Bucket: my-sample-bucket has MFA delete disabled",
                          "region": "us-east-1",
                          "discovered": false,
                          "custom": false,
                          "created": "2018-02-16T00:31:33.000Z",
                          "scan_id": 157966
                        }
                      ]
                    }
                  ]
                }
            ]

# Group Deliveries

## Deliveries Collection [/deliveries{?expand,limit,offset}]

"Deliveries" are the term used for scan result reports delivered to a user's email or to an integration's
endpoint. Deliveries allow for customization over how and when reports are sent. They can be "delivered"
each time a scan is run or only when new risks are detected. Additionally, deliveries can be customized on
a per-account basis.

Deliveries use the `send_new_risk` flag to determine whether all scan reports are sent or only when
new risks are detected.

The API can only be used to get and set "global" deliveries - deliveries tied to account-wide, third-party
integrations. In other words, the API cannot be used to modify the delivery settings of individual users
because that is within the control of those users to determine their own email settings.

### GET - List All Deliveries [GET]

+ Parameters
    + expand (string, optional) - Whether the response should contain expanded relations. Valid values: `integration`, `key`
    + limit (number, optional) - A limit on the number of responses to return.
    + offset (number, optional) - An offset value for pagination.

+ Request (application/json)
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910

+ Response 200 (application/json)
    + `id` (number) - The delivery ID
    + `created` (date) - The date of the delivery creation.
    + `key_id` (number) - The key ID that is associated with the delivery.
    + `integration_id` (number) - The integration ID that is associated with the delivery.
    + `send_new_risks` (boolean) - Whether the delivery will be sent only when new risks are detected.
    
    + Body
    
            [
                {
                    "id": 123,
                    "created": "2017-12-01T06:12:26.000Z",
                    "key_id": 123,
                    "integration_id": 11,
                    "send_new_risks": false
                }
            ]
            
### POST - Create a New Delivery [POST]

+ Request (application/json)
    + `send_new_risks` (boolean) - Whether the delivery will be sent only when new risks are detected.
    + `key_id` (number) - The ID of the key to be used with the delivery.
    + `integration_id` (number) - The ID of the integration to send the delivery to when triggered
    
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910
            
    + Body
    
            {
                "key_id": 123,
                "integration_id": 11,
                "send_new_risks": false
            }

+ Response 201 (application/json)
    + `id` (number) - The delivery ID
    + `created` (date) - The date time that the delivery was created
    + `key_id` (number) - The ID of the key associated with the delivery
    + `integration_id` (number) - The ID of the integration associated with the delivery
    + `send_new_risks` (boolean) - Whether the delivery will be sent only when new risks are detected.
    
    + Body

            {
                "id": 123,
                "created": "2017-12-01T06:12:26.000Z",
                "key_id": 123,
                "integration_id": 11,
                "send_new_risks": false
            }

## Delivery [/deliveries/{id}{?expand}]

### GET - View Delivery Details [GET]

+ Parameters
    + id (number) - ID of the alert
    + expand (string, optional) - Whether the response should contain expanded relations. Valid values: `key`, `integration`

+ Request (application/json)
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910

+ Response 200 (application/json)
    + `id` (number) - The delivery ID
    + `created` (date) - The date of the delivery creation.
    + `key_id` (number) - The key ID that is associated with the delivery.
    + `integration_id` (number) - The integration ID that is associated with the delivery.
    + `send_new_risks` (boolean) - Whether the delivery will be sent only when new risks are detected.
    
    + Body
    
            {
                "id": 123,
                "created": "2017-12-01T06:12:26.000Z",
                "key_id": 123,
                "integration_id": 11,
                "send_new_risks": false
            }

### PUT - Update a Delivery [PUT]

Only a delivery's `send_new_risks` field can be updated.

+ Request (application/json)
    + `send_new_risks` (boolean) - Whether the delivery will be sent only when new risks are detected.
    
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910
            
    + Body
    
            {
                "send_new_risks": false
            }

+ Response 200 (application/json)
    
    + Body

            {
                
            }

### DELETE - Delete a Delivery [DELETE]

+ Request (application/json)

    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910

+ Response 200 (application/json)
    
    + Body

            {
                
            }

# Group Events

## Events Collection [/events{?limit,offset,result,region,action,start_date,end_date,key_id,expand,order_by,order,page,pagesize}]

CloudSploit Events is a Premium Plan feature that integrates with AWS CloudWatch Events to
detect security risks in AWS API calls in real-time.

### GET - List All Events [GET]

+ Parameters
    + limit (number, optional) - A limit on the number of responses to return.
    + offset (number, optional) - An offset value for pagination.
    + result (number, optional) - A filter for severity. 0 for PASS, 1 for WARN, 2 for FAIL, and 3 for UNKNOWN.
    + region (string, optional) - A filter for the region. Use the full AWS region name.
    + action (string, optional) - A filter for the AWS event action. Example: "ec2:describeInstances"
    + start_date (string, optional) - A filter for date range. Format: YYYY-MM-DD.
    + end_date (string, optional) - A filter for date range. Format: YYYY-MM-DD.
    + key_id (number, optional) - A filter for the account
    + expand (string, optional) - Whether the response should contain expanded relations. Valid values: `key`
    + order (string, optional) - How to order the results by order_by column. Valid values: asc, desc.
    + order_by (string, optional) - A column name to order by.
    + page (number, optional) - A number to indicate the page number based on the pagesize.
    + pagesize (number, optional) - Number of records in each page

+ Request (application/json)
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910

+ Response 200 (application/json)
    + `count` (number) - The total number of records
    + `totalPages` (number) - The total number of pages
    + `pagsize` (number) - Number of records per page
    + `page` (number) - Current page 
    + `Events` (list) - list of  events with the following details
        + `id` (number) - The event ID
        + `created` (date) - The date of the event creation
        + `ip_address` (string) - The IP address of the user who created the event in AWS
        + `action` (string) - The event action from AWS
        + `caller` (string) - The AWS ARN of the user who created the event in AWS
        + `details` (string) - More information about the event's severity
        + `key_id` (number) - The ID of the associated CloudSploit account key
        + `message` (string) - Information about the event's security classification
        + `region` (string) - The AWS region the event occurred in (or `global`)
        + `result` (number) - The event's security classification
        + `stored_id` (string) - An internal ID used to retrieve the full event details
    
    + Body
    
        "count": 63506,
        "totalPages": 6351,
        "pagesize": 10,
        "page": 1,
        "events": [
             {
                "id": 12345,
                "created": "2017-05-13T15:45:05.000Z",
                "action": "signin:ConsoleLogin",
                "region": "global",
                "result": 2,
                "caller": "arn:aws:iam::012345678911:root",
                "ip_address": "12.34.44.33",
                "message": "Root user used to log into the account console. The root user was used to make this call.",
                "details": null,
                "stored_id": "1a503f64-a845-4f59-a047-f8748f930c40",
                "key_id": 123,
                "key": {
                    "event_settings": null,
                    "id": 123,
                    "name": "demo",
                    "last_scanned": "2017-05-12T18:26:27.000Z",
                    "scan_disabled": false,
                    "role_arn": "arn:aws:iam::012345678911:role/demo",
                    "paid": true,
                    "interval": 24,
                    "created": "2015-09-01T04:47:57.000Z",
                    "group_id": 1
                }
            },
        ]    

## Event [/events/{id}]

### GET - View Event Details [GET]

This call will expose the full, original event from AWS. This is the event sent to
CloudWatch and CloudTrail.

+ Parameters
    + id (number) - ID of the event

+ Request (application/json)
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910

+ Response 200 (application/json)
    + `id` (number) - The event ID
    + `created` (date) - The date of the event creation
    + `ip_address` (string) - The IP address of the user who created the event in AWS
    + `action` (string) - The event action from AWS
    + `caller` (string) - The AWS ARN of the user who created the event in AWS
    + `details` (string) - More information about the event's severity
    + `key_id` (number) - The ID of the associated CloudSploit account key
    + `message` (string) - Information about the event's security classification
    + `region` (string) - The AWS region the event occurred in (or `global`)
    + `result` (number) - The event's security classification
    + `stored_id` (string) - An internal ID used to retrieve the full event details
    + `stored_data` (object) - The original AWS event object
    
    + Body
    
            {
                "id": 12345,
                "created": "2017-05-13T15:45:05.000Z",
                "action": "signin:ConsoleLogin",
                "region": "global",
                "result": 2,
                "caller": "arn:aws:iam::012345678911:root",
                "ip_address": "12.34.44.33",
                "message": "Root user used to log into the account console. The root user was used to make this call.",
                "details": null,
                "stored_id": "1a503f64-a845-4f59-a047-f8748f930c40",
                "stored_data": {},
                "key_id": 123
            }

# Group Groups

## Groups Collection [/groups{?limit,offset}]

Groups are an optional feature of CloudSploit that enable you to group related users and
connected accounts for the purposes of restricting access to various users across
different teams.

### GET - List All Groups [GET]

+ Parameters
    + limit (number, optional) - A limit on the number of responses to return.
    + offset (number, optional) - An offset value for pagination.

+ Request (application/json)
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910

+ Response 200 (application/json)
    + `id` (number) - The group ID
    + `name` (string) - The group name
    + `created` (date) - The date of the group creation
    
    + Body
    
            [
                {
                    "id": 1,
                    "name": "Default",
                    "created": "2016-06-28T01:09:30.000Z"
                },
                {
                    "id": 2,
                    "name": "Security Team",
                    "created": "2016-06-28T20:32:24.000Z"
                }
            ]

### POST - Create a New Group [POST]

You can create a new group with just a name.

+ Request (application/json)
    + `name` (string) - The name of the group (alphanumeric between 2 and 25 characters).
    
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910
            
    + Body
    
            {
                "name": "mygroup"
            }

+ Response 201 (application/json)
    + `id` (number) - The alert ID
    + `name` (string) - The name of the group
    
    + Body

            {
                "id": 100,
                "name": "mygroup"
            }

## Group [/groups/{id}]

### GET - View Group Details [GET]

+ Parameters
    + id (number) - ID of the group

+ Request (application/json)
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910

+ Response 200 (application/json)
    + `id` (number) - The group ID
    + `name` (string) - The group name
    + `created` (date) - The date of the group creation
    
    + Body
    
            {
                "id": 2,
                "name": "Security Team",
                "created": "2016-06-28T20:32:24.000Z"
            }

### PUT - Update a Group [PUT]

A group's name can be updated via a PUT. Additionally, it's users can be modified
via a separate PUT.


+ Request (application/json)
    + `name` (string) - The group name. Can not match the string `default`
    
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910
            
    + Body
    
            {
                "name": "newgroupname"
            }

+ Response 200 (application/json)
    
    + Body

            {
                "status": 200,
                "code": 0,
                data: {}
            }

+ Request (application/json)
    + `user_id` (number) - The user ID to add or remove to/from the group
    + `action` (string) - Whether `adding`, `removing`, or `updating` the user
    + `group_admin` (boolean) - Whether the user should be added or updated as an admin. Not valid when `action` is `removing`
    
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910
            
    + Body
    
            {
                "user_id": 12,
                "action": "adding",
                "group_admin": true
            }

+ Response 200 (application/json)
    
    + Body

            {
                "status": 200,
                "code": 0,
                data: {}
            }

### DELETE - Delete a Group [DELETE]

The `default` group cannot be deleted. Additionally, groups cannot be deleted
if they still contain users or connected AWS accounts. These must be deleted
first.

+ Request (application/json)

    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910

+ Response 200 (application/json)
    
    + Body

            {
                "status": 200,
                "code": 0,
                data: {}
            }

# Group Integrations

## Integrations Collection [/integrations{?limit,offset}]

Integrations are connections between CloudSploit and third-parties like AWS SNS,
or Slack.

### GET - List All Integrations [GET]

Integrations with Slack, SNS, etc. can be listed via the GET call.

+ Parameters
    + limit (number, optional) - A limit on the number of responses to return.
    + offset (number, optional) - An offset value for pagination.

+ Request (application/json)
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910

+ Response 200 (application/json)
    + `id` (number) - The integration ID
    + `settings` (object) - The settings for the integration. Note that these are different for each integration type.
    + `name` (string) - The integration name
    + `type` (string) - The type of integration. Valid values: `slack`, `sns`, `email`, `pagerduty`, `teams`, `opsgenie`
    + `enabled` (boolean) - Whether the integration is enabled
    + `send_scan_results` (boolean) - Whether the integration will be sent scan result summaries
    + `created` (date) - The date of the integration creation
    
    + Body
    
            [
                {
                    "id": 1,
                    "settings": {
                        "address": "demo@example.com"
                    },
                    "name": "demo-email",
                    "type": "email",
                    "enabled": true,
                    "send_scan_results": true,
                    "created": "2016-04-03T18:26:09.000Z"
                },
                {
                    "id": 2,
                    "settings": {
                        "slack_webhook_url": "https://hooks.slack.com/services/ABCDEF/123456"
                    },
                    "name": "slack-alerts",
                    "type": "slack",
                    "enabled": true,
                    "send_scan_results": false,
                    "created": "2016-04-18T23:43:17.000Z"
                },
                {
                    "id": 3,
                    "settings": {
                        "sns_arn": "arn:aws:sns:us-east-1:012345678911:demo"
                    },
                    "name": "sns-alerts",
                    "type": "sns",
                    "enabled": true,
                    "send_scan_results": true,
                    "created": "2016-07-23T21:28:29.000Z"
                }
            ]

### POST - Create a New Integration [POST]

+ Request (application/json)
    + `name` (string) - The name for the integration
    + `type` (string) - The type of integration to create. Valid values: `slack`, `pagerduty`, `email`, `sns`, `opsgenie`, `teams`
    + `enabled` (boolean) - Whether the integration is enabled.
    + `send_scan_results` (boolean) - Whether scan result summaries should be sent to this integration.
    + `send_new_risks` (boolean) - Whether scan result summaries should only be sent to this integration if new risks are detected.
    + `settings` (object) - Settings specific to the integration type.
        + `slack_webhook_url` (string, optional) - Slack only. The webhook URL for the channel.
        + `address` (string, optional) - Email only. An email address.
        + `sns_arn` (string, optional) - SNS only. The ARN of the topic to send results to.
        + `opsgenie_apikey` (string, optional) - OpsGenie only. The API key with permissions to post to OpsGenie.
    
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910
            
    + Body
    
            {
                "name": "myintegration",
                "type": "email",
                "enabled": true,
                "send_scan_results": true,
                "send_new_risks": true,
                "settings": {
                    "address": "example@domain.com"
                }
            }

+ Response 201 (application/json)
    + `id` (number) - The integration ID
    + `settings` (object) - The settings for the integration. Note that these are different for each integration type.
    + `name` (string) - The integration name
    + `type` (string) - The type of integration. Valid values: `slack`, `sns`, `email`
    + `enabled` (boolean) - Whether the integration is enabled
    + `send_scan_results` (boolean) - Whether the integration will be sent scan result summaries
    + `send_new_risks` (boolean) - Whether scan result summaries should only be sent to this integration if new risks are detected.
    + `created` (date) - The date of the integration creation
    
    + Body

            {
                "id": 1234,
                "name": "myintegration",
                "type": "email",
                "enabled": true,
                "send_scan_results": true,
                "send_new_risks": true,
                "settings": {
                    "address": "example@domain.com"
                },
                "created": "2017-05-13T16:27:56.000Z",
                "updated": "2017-05-13T16:27:56.000Z"
            }

## Integration [/integrations/{id}]

### GET - View Integration Details [GET]

+ Parameters
    + id (number) - ID of the integration

+ Request (application/json)
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910

+ Response 200 (application/json)
    + `id` (number) - The integration ID
    + `settings` (object) - The settings for the integration. Note that these are different for each integration type.
    + `name` (string) - The integration name
    + `type` (string) - The type of integration. Valid values: `slack`, `sns`, `email`
    + `enabled` (boolean) - Whether the integration is enabled
    + `send_scan_results` (boolean) - Whether the integration will be sent scan result summaries
    + `send_new_risks` (boolean) - Whether scan result summaries should only be sent to this integration if new risks are detected.
    + `created` (date) - The date of the integration creation
    
    + Body
    
            {
                "id": 3,
                "settings": {
                    "sns_arn": "arn:aws:sns:us-east-1:012345678911:demo"
                },
                "name": "sns-alerts",
                "type": "sns",
                "enabled": true,
                "send_scan_results": true,
                "created": "2016-07-23T21:28:29.000Z"
            }

### PUT - Update an Integration [PUT]

An integration's `settings` can be updated, along with its scan settings (`send_scan_results`, etc.).


+ Request (application/json)
    + `enabled` (boolean) - Whether the integration is enabled
    + `send_scan_results` (boolean) - Whether the integration will be sent scan result summaries
    + `send_new_risks` (boolean) - Whether scan result summaries should only be sent to this integration if new risks are detected.
    + `settings` (object) - Settings specific to the integration type.
        + `slack_webhook_url` (string, optional) - Slack only. The webhook URL for the channel.
        + `address` (string, optional) - Email only. An email address.
        + `sns_arn` (string, optional) - SNS only. The ARN of the topic to send results to.
        + `opsgenie_apikey` (string, optional) - OpsGenie only. The API key with permissions to post to OpsGenie.
    
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910
            
    + Body
    
            {
                "enabled": false,
                "send_scan_results": false,
                "send_new_risks": false,
                "settings": {
                    "address": "newexample@domain.com"
                }
            }

+ Response 200 (application/json)
    
    + Body

            {
                "status": 200,
                "code": 0,
                data: {}
            }

### DELETE - Delete an Integration [DELETE]

When you remove an integration from CloudSploit, scan results and alerts will no longer
be sent within 5 minutes.

+ Request (application/json)

    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910

+ Response 200 (application/json)
    
    + Body

            {
                "status": 200,
                "code": 0,
                data: {}
            }

# Group Keys

## Keys Collection [/keys{?limit,offset,paid,cloud,page,pagesize,order_by,order}]

Keys are AWS accounts that are connected to CloudSploit. Do not confuse these with AWS
access keys or with CloudSploit API keys.

### GET - List All Keys [GET]

A list of all AWS accounts connected to your CloudSploit account will be returned. The
response will never contain the external ID used with the account.

+ Parameters
    + limit (number, optional) - A limit on the number of responses to return.
    + offset (number, optional) - An offset value for pagination.
    + paid (boolean, optional) - An offset value for pagination.
    + cloud (string, optional) - A cloud filter (`aws`, `azure`)
    + page (number, optional) - The page number to be visited 
    + pagesize (number, optional) - Number of records in each page
    + order_by (string, optional) - A column name to order by on
    + order (string, optional) - How to order the results by order_by column. Valid values: asc, desc.

+ Request (application/json)
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910

+ Response 200 (application/json)
    + `count` (number) - Total number of records
    + `totalPages` (number) - The total number of pages
    + `pagsize` (number) - Number of records per page
    + `page` (number) - Current page 
    + `keys` (list) - List of keys
        + `id` (number) - The key ID
        + `name` (string) - The key name
        + `cloud` (string) - The key cloud (`aws`, `azure`, etc).
        + `last_scanned` (date) - The date of the last background scan
        + `scan_disabled` (boolean) - Whether the scanning of this key has been disabled by CloudSploit
        + `role_arn` (string) - The AWS role ARN for the connection
        + `paid` (boolean) - Whether the connected account is upgraded for CloudSploit features
        + `cloudtrail_connected` (boolean) - Whether CloudTrail integration has been enabled (Note: this feature is not currently live)
        + `interval` (number) - How often the account is scanned, in hours
        + `created` (date) - The date of the integration creation
        + `group_id` (number) - The ID of the group with which the key is associated
        + `group` (object) - The group object
    
    + Body
            "count": 6,
            "totalPages": 1,
            "pagesize": 10,
            "page": 1,
            "keys":[
                {
                    "id": 1,
                    "name": "cloudsploit-demo",
                    "cloud": "aws"
                    "last_scanned": "2016-10-02T03:41:21.000Z",
                    "scan_disabled": false,
                    "role_arn": "arn:aws:iam::012345678911:role/cloudsploit-demo",
                    "paid": true,
                    "cloudtrail_connected": true,
                    "interval": 24,
                    "created": "2015-09-01T04:47:57.000Z",
                    "group_id": 1,
                    "group": {
                        "id": 1,
                        "name": "Default",
                        "created": "2016-06-28T01:09:30.000Z"
                    }
                }
            ]

### POST - Create a New Key [POST]

When submitting a new key, CloudSploit will verify that we are able to assume
the provided IAM role. Be sure to submit a valid role ARN and external ID
combination. We do not support AWS access key and secret access due to their
limited security capabilities.

External IDs must be in UUIDv4 format.

The group ID can be obtained by querying the `/v2/groups` endpoint for a list
of available groups. A group must be provided - the default should be used
if a custom group is not desired. You may hard-code your custom group ID
since it will not change over the lifetime of your account.

After submitting your group, you may upgrade it via a `PUT`.

+ Request (application/json)
    + `name` (string) - The key name
    + `cloud` (string) - The key cloud (`aws`, `azure`, etc).
    + `role_arn` (string) - (Optional: AWS only) The AWS role ARN for the connection
    + `external_id` (string) - (Optional: AWS only) The AWS role ARN external ID for cross-account access. Must be in UUIDv4 format.
    + `group_id` (number) - The ID of the group with which the key is associated
    + `connection` (object) - The connection property for the key (non-AWS)
        + `azure` (object) - (Optional: Azure only) The Azure connection
            + `application_id` - The Azure Application ID
            + `key_value` - The Azure Key Value
            + `directory_id` - The Azure Directory ID
            + `subscription_id` - The Azure Subscription ID
        + `oracle` (object) - (Optional: Oracle only) The Oracle connection
            + `tenancy_id` - The Oracle Tenancy ID
            + `user_id` - The Oracle User ID
            + `key_fingerprint` - The Oracle Key Fingerprint
            + `key_value` - The Oracle Key Value
            + `compartment_id`  - The Oracle Compartment ID
        + `google` (object) - (Optional: Google only) The Google connection
            + `type` - The Google Project Type
            + `project_id` - The Google Project ID
            + `client_email` - The Google Project Email 
            + `private_key`  - The Google Project Private Key
    
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910
            
    + Body
    
            {
                "name": "mynewkey",
                "cloud": "aws",
                "role_arn": "arn:aws:iam::012345678911:role/mynewkey",
                "external_id": "65aca4f7-4eae-45a1-879c-56baf2c730b3",
                "group_id": 1
            }

+ Response 201 (application/json)
    + `id` (number) - The key ID
    + `name` (string) - The key name
    + `cloud` (string) - The key cloud (`aws`, `azure`, etc).
    + `last_scanned` (date) - The date of the last background scan
    + `scan_disabled` (boolean) - Whether the scanning of this key has been disabled by CloudSploit
    + `role_arn` (string) - The AWS role ARN for the connection
    + `paid` (boolean) - Whether the connected account is upgraded for CloudSploit features
    + `cloudtrail_connected` (boolean) - Whether CloudTrail integration has been enabled (Note: this feature is not currently live)
    + `interval` (number) - How often the account is scanned, in hours
    + `created` (date) - The date of the integration creation
    + `group_id` (number) - The ID of the group with which the key is associated
    + `group` (object) - The group object
    
    + Body

            {
                "id": 1,
                "name": "mynewkey",
                "cloud": "aws",
                "last_scanned": "2016-10-02T03:41:21.000Z",
                "scan_disabled": false,
                "role_arn": "arn:aws:iam::012345678911:role/mynewkey",
                "paid": false,
                "cloudtrail_connected": false,
                "interval": 36,
                "created": "2015-09-01T04:47:57.000Z",
                "group_id": 1,
                "group": {
                    "id": 1,
                    "name": "Default",
                    "created": "2016-06-28T01:09:30.000Z"
                }
            }

## Key [/keys/{id}]

### GET - View Key Details [GET]

+ Parameters
    + id (number) - ID of the key

+ Request (application/json)
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910

+ Response 200 (application/json)
    + `id` (number) - The key ID
    + `name` (string) - The key name
    + `cloud` (string) - The key cloud (`aws`, `azure`, etc).
    + `last_scanned` (date) - The date of the last background scan
    + `scan_disabled` (boolean) - Whether the scanning of this key has been disabled by CloudSploit
    + `role_arn` (string) - The AWS role ARN for the connection
    + `paid` (boolean) - Whether the connected account is upgraded for CloudSploit features
    + `cloudtrail_connected` (boolean) - Whether CloudTrail integration has been enabled (Note: this feature is not currently live)
    + `interval` (number) - How often the account is scanned, in hours
    + `created` (date) - The date of the integration creation
    + `group_id` (number) - The ID of the group with which the key is associated
    + `group` (object) - The group object
    
    + Body

            {
                "id": 1,
                "name": "cloudsploit-demo",
                "cloud": "aws",
                "last_scanned": "2016-10-02T03:41:21.000Z",
                "scan_disabled": false,
                "role_arn": "arn:aws:iam::012345678911:role/cloudsploit-demo",
                "paid": true,
                "cloudtrail_connected": true,
                "interval": 24,
                "created": "2015-09-01T04:47:57.000Z",
                "group_id": 1,
                "group": {
                    "id": 1,
                    "name": "Default",
                    "created": "2016-06-28T01:09:30.000Z"
                }
            }

### PUT - Update a Key [PUT]

A key's `paid`, `interval`, `group_id`, and `tags` fields can be updated. Before updating
the `paid` field, ensure that your account supports adding additional upgraded
keys.

You do not have to update all fields at once. It is recommended to submit the `paid`
field by itself.

An example `tags` object would look like:
```
"tags": {
    "mykey": "myvalue",
    "environment": "production"
}
```

Both tag keys and tag values must match the regex `^[a-zA-Z0-9_-]{1,100}$`.

+ Request (application/json)
    + `paid` (boolean) - Whether the key is using upgraded features
    + `interval` (number) - How often the account is scanned, in hours
    + `group_id` (number) - The ID of the group with which the key is associated
    + `tags` (object) - An object of key name -> value mappings for arbitrary tags
    
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910
            
    + Body
    
            {
                "paid": true,
                "interval": 10,
                "group_id": 2
            }

+ Response 200 (application/json)
    
    + Body

            {
                "status": 200,
                "code": 0,
                data: {}
            }
            
+ Response 400 (application/json)
    
    + Body

            {
                "status": 400,
                "code": 1,
                "message": "Bad request",
                "errors": [
                    "The current plan does not support any more connected accounts"
                ]
            }

+ Response 403 (application/json)
    
    + Body

            {
                "status": 403,
                "code": 1,
                "message": "Access denied",
                "errors": [
                    "This account does not have permission to access the requested reseource."
                ]
            }

+ Request (application/json)
Connecting a Remediator:
To connect a remediator to a cloud account, you must pass a `remediation_connection` object
containing the properties relevant to the cloud (e.g. AWS uses `role_arn` and `external_id`).
For AWS: Obtain a generated external ID from the Aqua Wave API using the GET "/generatedids"
endpoint (note: your external ID must match; it cannot be created yourself).
Then deploy the CloudFormation stack:
https://s3.amazonaws.com/cloudsploit-remediation-resources-development/develop/aws/cloudformation-template-remediator.json

    + `remediation_connection` (object)
        + `aws` (object)
            + `role_arn` - The role ARN of the remediator connection
            + `external_id` - The external ID of the remediator connection
            + `version` - The version of the CloudFormation stack deployed (obtained via the stack parameters)
    
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910
            
    + Body
    
            {
                "role_arn": "arn:aws:iam::012345678911:role/cloudsploit-remediator",
                "external_id": "65aca4f7-4eae-45a1-879c-56baf2c730b3",
                "version": "202012083456"
            }

+ Response 200 (application/json)
    
    + Body

            {
                "status": 200,
                "code": 0,
                data: {}
            }

### DELETE - Delete a Key [DELETE]

When you remove a key from CloudSploit, the key's associated data, including scans,
results, and suppressions, are deleted as well. Be absolutely sure you wish to
permanently delete the key before continuing.

+ Request (application/json)

    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910

+ Response 200 (application/json)
    
    + Body

            {
                "status": 200,
                "code": 0,
                data: {}
            }

# Group OTP Secrets

This API is a helper API designed to help automate the onboarding of Remediators. It
returns a pre-generated OTP secret for use in your scripts or onboarding processes.

## OPT Secrets Collection [/otpsecrets]

### POST - Create an OTP Secret [POST]

You may request up to 50 OTP secrets at once.

+ Request (application/json)
    + `count` (number) - (Optional) The number of generated IDs to generate - between `1` and `50`.
    
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910
            
    + Body
    
            {
                "count": 2
            }

+ Response 201 (application/json)
    + `otpsecret` (string) - The generated OTP secret
    + `account_id` (number) - The account ID mapped to the IDs
    
    + Body

            [
                {
                    "generated_id": "WBXXEDDM2C2TOSU7",
                    "account_id": 123
                },
                {
                    "generated_id": "ABCXEDDM2C2TOSU5",
                    "account_id": 123
                }
            ]

# Group Policies

## Policies Collection [/policies]

Policies are sets of rules that define which plugins should be remediated and how the
remediation should be performed (manual, automated, or both).

### GET - List All Policies [GET]

+ Request (application/json)
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910

+ Response 200 (application/json)
    + `id` (number) - The policy ID
    + `key_id` (number) - The ID of the key the policy is associated with
    + `group_id` (number) - The ID of the group the policy is associated with
    + `key` (object) - The key object
    + `rules` (array) - A list of rules that are part of the policy
        + `test_id` (number) - The plugin (test) associated with this rule
        + `allow_manual` (boolean) - Whether manual remediations are allowed
        + `allow_automated` (boolean) - Whether automated remediations are allowed
        + `inputs` (object) - (Optional) - Inputs to pass to the remediation plugin
    
    + Body
    
            [
                {
                    "id": 1,
                    "key_id": 123,
                    "group_id": null,
                    "key": {
                        
                    },
                    "rules": [
                        {
                            "test_id": 628,
                            "allow_manual": true,
                            "allow_automated": true
                        },
                        {
                            "test_id": 8,
                            "allow_manual": true,
                            "allow_automated": false,
                            "inputs": {
                                "openSSHReplacementIpAddress": "127.0.0.1/21",
                                "openSSHReplacementIpv6Address": "fe80:0000:0000:0000:0204:61ff:fe9d:f156/1"
                            }
                        }
                    ]
                }
            ]

### POST - Create a New Policy [POST]

To create a remediation policy, define a list of rules (plugins and whether to allow manual and
automated remediations) combined with either a key_id or group_id to which the rules should be
applied.

+ Request (application/json)
    + `key_id` (number) - The key to associate the rules to
    + `group_id` (number) - The group to associate the rules to
    + `rules` (array) - A list of rules that are part of the policy
        + `test_id` (number) - The plugin (test) associated with this rule
        + `allow_manual` (boolean) - Whether manual remediations are allowed
        + `allow_automated` (boolean) - Whether automated remediations are allowed
        + `inputs` (object) - (Optional) - Inputs to pass to the remediation plugin
    
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910
            
    + Body
    
            {
                "key_id": 123,
                "rules": [
                    {
                        "test_id": 628,
                        "allow_manual": true,
                        "allow_automated": true
                    },
                    {
                        "test_id": 8,
                        "allow_manual": true,
                        "allow_automated": false,
                        "inputs": {
                            "openSSHReplacementIpAddress": "127.0.0.1/21",
                            "openSSHReplacementIpv6Address": "fe80:0000:0000:0000:0204:61ff:fe9d:f156/1"
                        }
                    }
                ]
            }

+ Response 201 (application/json)
    + `id` (number) - The alert ID
    + `name` (string) - The name of the group
    
    + Body

            {
                "id": 1,
                "key_id": 123,
                "group_id": null,
                "key": {
                    
                },
                "rules": [
                    {
                        "test_id": 628,
                        "allow_manual": true,
                        "allow_automated": true
                    },
                    {
                        "test_id": 8,
                        "allow_manual": true,
                        "allow_automated": false,
                        "inputs": {
                            "openSSHReplacementIpAddress": "127.0.0.1/21",
                            "openSSHReplacementIpv6Address": "fe80:0000:0000:0000:0204:61ff:fe9d:f156/1"
                        }
                    }
                ]
            }

## Policy [/policies/{id}]

### GET - View Policy Details [GET]

+ Parameters
    + id (number) - ID of the policy

+ Request (application/json)
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910

+ Response 200 (application/json)
    + `id` (number) - The policy ID
    + `key_id` (number) - The ID of the key the policy is associated with
    + `group_id` (number) - The ID of the group the policy is associated with
    + `key` (object) - The key object
    + `rules` (array) - A list of rules that are part of the policy
        + `test_id` (number) - The plugin (test) associated with this rule
        + `allow_manual` (boolean) - Whether manual remediations are allowed
        + `allow_automated` (boolean) - Whether automated remediations are allowed
        + `inputs` (object) - (Optional) - Inputs to pass to the remediation plugin
    
    + Body
    
            {
                "id": 1,
                "key_id": 123,
                "group_id": null,
                "key": {
                    
                },
                "rules": [
                    {
                        "test_id": 628,
                        "allow_manual": true,
                        "allow_automated": true
                    },
                    {
                        "test_id": 8,
                        "allow_manual": true,
                        "allow_automated": false,
                        "inputs": {
                            "openSSHReplacementIpAddress": "127.0.0.1/21",
                            "openSSHReplacementIpv6Address": "fe80:0000:0000:0000:0204:61ff:fe9d:f156/1"
                        }
                    }
                ]
            }

### PUT - Update a Policy [PUT]

A policy can be updated by submitting a new list of rules. Key and group assignments cannot be
changed. If you are modifying the policy rules, be sure to submit the full list of rules that should
take effect and not just the rule that was changed. The `rules` will overwrite the existing rules
attached to the policy.

+ Request (application/json)
    + `rules` (array) - A list of rules that are part of the policy
        + `test_id` (number) - The plugin (test) associated with this rule
        + `allow_manual` (boolean) - Whether manual remediations are allowed
        + `allow_automated` (boolean) - Whether automated remediations are allowed
        + `inputs` (object) - (Optional) - Inputs to pass to the remediation plugin
    
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910
            
    + Body
    
            {
                "rules": [
                    {
                        "test_id": 628,
                        "allow_manual": true,
                        "allow_automated": true
                    }
                ]
            }

+ Response 200 (application/json)
    
    + Body

            {
                "status": 200,
                "code": 0,
                data: {}
            }

### DELETE - Delete a Policy [DELETE]

Once a policy is deleted, the effect will take occur immediately and new remediations will not
be performed.

+ Request (application/json)

    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910

+ Response 200 (application/json)
    
    + Body

            {
                "status": 200,
                "code": 0,
                data: {}
            }

# Group Programs

## Programs Collection [/programs{?limit,offset,expand}]

Programs are a collection of compliance controls such as "PCI",
"HIPAA", or a custom program.

### GET - List All Programs [GET]

A list of all programs that are available in the account.

+ Parameters
    + limit (number, optional) - A limit on the number of responses to return.
    + offset (number, optional) - An offset value for pagination.

+ Request (application/json)
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910

+ Response 200 (application/json)
    'id', 'name', 'description', 'account_id'

    + `id` (number) - The program ID
    + `name` (string) - Name of the compliance program
    + `description` (string) - Description of the compliance program
    + `account_id` (number) - The ID of the account for which the program is associated. If not set, the program is public.
    
    + Body

            [
                {
                  "id": 1,
                  "name": "PCI",
                  "description": "The Payment Card Industry Data Security Standard (PCI DSS) is a set of security standards designed to ensure that ALL companies that accept, process, store or transmit credit card information maintain a secure environment.",
                  "account_id": null
                },
                {
                  "id": 2,
                  "name": "HIPAA",
                  "description": "HIPAA (Health Insurance Portability and Accountability Act of 1996) is United States legislation that provides data privacy and security provisions for safeguarding medical information.",
                  "account_id": null
                },
                {
                  "id": 3,
                  "name": "Custom Controls",
                  "description": "Custom compliance program",
                  "account_id": 1234
                }
            ]

### POST - Create a New Program [POST]

New custom compliance programs can be created for mapping organizational controls
to specific groups of plugins.

+ Request (application/json)
    + `name` (string) - The program name
    + `description` (string) - The program description.
    
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910
            
    + Body
    
            {
                "name": "My Compliance Program",
                "description": "Description of the program"
            }

+ Response 201 (application/json)
    + `id` (number) - The program ID
    + `name` (string) - The program name
    + `description` (string) - The program description.
    + `created` (date) - The date of the integration creation

    + Body

            {
                "id": 1,
                "name": "My Compliance Program",
                "description": "Description of the program"
                "created": "2015-09-01T04:47:57.000Z"
            }

# Group PDF Reports

## PDF Reports Collection [/pdfs]

PDF Reports can be generated for both scan reports and compliance reports.
The response will contain a signed S3 URL which can be used to download
the report for up to 24 hours.

### POST - Create a New PDF Report [POST]

A scan report can be generated by passing just `report` as `scan` and the
`scan_id`. For a compliance report, you must pass the `program_id` mapped
to a program (see GET `/programs` for available compliance program IDs).

+ Request (application/json)
    + `report` (string) - Either `scan` or `compliance`
    + `scan_id` (number) - The scan ID to turn into a report
    + `program_id` (number) - Optional. If set, returns a compliance report for the given program.
    
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910
            
    + Body
    
            {
                "report": "compliance",
                "scan_id": 123,
                "program_id": 123
            }

+ Response 201 (application/json)
    + `url` (string) - A signed S3 URL that can be used to download the report via a GET request.
    
    + Body

            {
                "url": "https://example.s3.amazonaws.com/..."
            }
            
### POST - Create a New Multiple Compliance PDF Report [POST]

A scan report can be generated by passing just `report` as `scan` and the
`scan_id`. For a compliance report, you must pass `program_ids` mapped
to all programs to add to the compliance report (see GET `/programs` for available compliance program IDs).

+ Request (application/json)
    + `report` (string) - Either `scan` or `compliance`
    + `scan_id` (number) - The scan ID to turn into a report
    + `program_ids` (number) - Optional. If set, returns a compliance report for the given programs.
    
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910
            
    + Body
    
            {
                "report": "compliance",
                "scan_id": 123,
                "program_ids": [123,124]
            }

+ Response 201 (application/json)
    + `url` (string) - A signed S3 URL that can be used to download the report via a GET request.
    
    + Body

            {
                "url": "https://example.s3.amazonaws.com/..."
            }

# Group Remediations

## Remediations Collection [/remediations{?limit,offset,expand}]

Remediations are reports of remediation changes that have been made in an account.

### GET - List All Remediations [GET]

A list of all remediation reports that have been created in the account.

+ Parameters
    + limit (number, optional) - A limit on the number of responses to return.
    + offset (number, optional) - An offset value for pagination.
    + expand (string, optional) - Whether to expand the `action` data associated with the report

+ Request (application/json)
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910

+ Response 200 (application/json)
    + `id` (number) - The remediation ID
    + `created` (date) - The date of the remediation creation
    + `key_id` (number) - The ID of the key with which the remediation is associated
    + `comment` (string) - An optional comment about the remediation outcome
    + `type` (string) - Either `execute` or `rollback`
    + `num_pass` (number) - Number of passing actions performed in the remediation
    + `num_fail` (number) - Number of failing actions performed in the remediation
    + `status` (string) - The current remediation status
    + `scan_id` (number) - The scan ID performed as part of an automated remediation
    + `stored_id` (string) - A UUID used to identity the remediation on the backend
    + `complete` (boolean) - Whether the remediation execution has completed
    + `event_id` (number) - The event ID that trigged the remediation (automated only)
    + `key` (object) - An object representing the associated key
    + `actions` (array) - A list of actions performed in the remediation
        + `id` (number) - An ID for the action
        + `region` (string) - The region the remediation action was performed in
        + `resource` (string) - The cloud resource the remediation impacted
        + `status` (number) - Either `0` for passing or `2` for failing result of the action
        + `test_id` (number) - The test ID associated with the remediation action
        + `result_id` (number) - The result ID associated with the remediation action
    
    + Body

            [
                {
                    "id": 123,
                    "key_id": 122,
                    "comment": null,
                    "type": "execute",
                    "num_pass": 1,
                    "num_fail": 0,
                    "status": null,
                    "scan_id": 12345,
                    "created": "2020-10-12T16:37:16.000Z",
                    "stored_id": "abcd07cb-563d-4db6-b539-c720d336890f",
                    "complete": true,
                    "event_id": 1234,
                    "key": {
                        
                    },
                    "actions": [
                        {
                            "id": 206,
                            "region": null,
                            "resource": "arn:aws:s3:::test-bucket",
                            "status": 0,
                            "test_id": 628,
                            "result_id": 123456
                        }
                    ]
                }
            ]

## Remediation [/remediations/{id}]

### GET - View Remediation Details [GET]

+ Parameters
    + id (number) - ID of the remediation

+ Request (application/json)
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910

+ Response 200 (application/json)
    + `id` (number) - The remediation ID
    + `created` (date) - The date of the remediation creation
    + `key_id` (number) - The ID of the key with which the remediation is associated
    + `comment` (string) - An optional comment about the remediation outcome
    + `type` (string) - Either `execute` or `rollback`
    + `num_pass` (number) - Number of passing actions performed in the remediation
    + `num_fail` (number) - Number of failing actions performed in the remediation
    + `status` (string) - The current remediation status
    + `scan_id` (number) - The scan ID performed as part of an automated remediation
    + `stored_id` (string) - A UUID used to identity the remediation on the backend
    + `complete` (boolean) - Whether the remediation execution has completed
    + `event_id` (number) - The event ID that trigged the remediation (automated only)
    + `key` (object) - An object representing the associated key
    + `actions` (array) - A list of actions performed in the remediation
        + `id` (number) - An ID for the action
        + `region` (string) - The region the remediation action was performed in
        + `resource` (string) - The cloud resource the remediation impacted
        + `status` (number) - Either `0` for passing or `2` for failing result of the action
        + `test_id` (number) - The test ID associated with the remediation action
        + `result_id` (number) - The result ID associated with the remediation action
    
    + Body
    
            {
                "id": 123,
                "key_id": 122,
                "comment": null,
                "type": "execute",
                "num_pass": 1,
                "num_fail": 0,
                "status": null,
                "scan_id": 12345,
                "created": "2020-10-12T16:37:16.000Z",
                "stored_id": "abcd07cb-563d-4db6-b539-c720d336890f",
                "complete": true,
                "event_id": 1234,
                "key": {
                    
                },
                "actions": [
                    {
                        "id": 206,
                        "region": null,
                        "resource": "arn:aws:s3:::test-bucket",
                        "status": 0,
                        "test_id": 628,
                        "result_id": 123456
                    }
                ]
            }

### POST - Create a New Remediation [POST]

A remediation is triggered by passing a list of `result_ids` which are obtained from a scan report,
along with a `token_code` representing the OTP MFA token associated with the cloud account during
the remediation enrollment process.

Additionally, optional inputs can be provided to customize the remediation behavior for the specific
plugin. These input values can be found on the policies page associated with the plugin being
remediated.

+ Request (application/json)
    + `result_ids` (array) - A list of result_id values to remediate. NOTE: Currently only one result ID is supported at a time.
    + `token_code` (string) - The 6-digit MFA token value associated with the remediator deployed in the cloud account.
    + `input` (object) - Optional. If set, passes customization options to the remediation code.
    
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910
            
    + Body
    
            {
                "result_ids": [123],
                "token_code": "123456",
                "input": {
                    "minPasswordLengthCreatePolicy": 8
                }
            }

+ Response 201 (application/json)
    + `id` (string) - A UUID associated with the new remediation
    
    + Body

            {
                "id": "abcdef-1234..."
            }

# Group Routings

## Routings Collection [/routings{?limit,offset,expand}]

Routings are mappings of an AWS account (key) to integrations when a particular set of conditions (settings)
are met. Routings are to Real Time Events as Alerts are to Background Scans.

### GET - List All Routings [GET]

A list of all AWS routings that have been created in the account.

+ Parameters
    + limit (number, optional) - A limit on the number of responses to return.
    + offset (number, optional) - An offset value for pagination.
    + expand (string, optional) - Whether to expand the `key` or `integration` attached to the routing

+ Request (application/json)
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910

+ Response 200 (application/json)
    'id', 'created', 'key_id', 'enabled', 'settings', 'result'

    + `id` (number) - The routing ID
    + `created` (date) - The date of the routing creation
    + `key_id` (number) - The ID of the key with which the routing is associated
    + `enabled` (boolean) - Whether the routing is enabled
    + `settings` (object) - The settings for the integration
        + `actions` (array) - A list of AWS API call actions on which to trigger the routing
    + `result` (number) - The WARN (1) or FAIL (2) result on which to trigger the routing
    + `integrations` (array) - A list of integration objects
    
    + Body

            [
                {
                    "id": 13,
                    "created": "2017-02-19T02:46:43.000Z",
                    "key_id": 123,
                    "enabled": false,
                    "settings": {
                        "actions": [
                            "*"
                        ]
                    },
                    "result": 2,
                    "key": {},
                    "integrations": [{}]
                }
            ]

### POST - Create a New Routing [POST]

To submit a routing, you must include a key ID and a list of integration IDs.
Additionally, the result (1 or 2 for WARN and FAIL, respectively) determines when
CloudSploit will trigger the routing to the integration. The settings object must
contain a list of `actions` on which the routing will be enacted. These actions are
a list of AWS API calls, with support for wildcards. For example, the following
actions could be defined:
```
ec2:AuthorizeSecurityGroupEgress
iam:*
```

For a full list of supported actions, please see the [routings page](https://console.cloudsploit.com/routings)
in the console.

+ Request (application/json)
    + `enabled` (boolean) Whether the routing is enabled or not
    + `key_id` (number) The ID of the associated key
    + `integration_ids` (array) An array of integration IDs
    + `result` (number) Whether a 1 (WARN) or 2 (FAIL) result should trigger the routing
    + `actions` (array) An array of action strings
    
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910
            
    + Body
    
            {
                "enabled": true,
                "key_id": 123,
                "integration_ids": [1, 5, 6],
                "result": 2,
                "actions": ["ec2:AuthorizeSecurityGroupEgress"]
            }

+ Response 201 (application/json)
    + `id` (number) - The routing ID
    + `created` (date) - The date of the routing creation
    + `key_id` (number) - The ID of the key with which the routing is associated
    + `enabled` (boolean) - Whether the routing is enabled
    + `settings` (object) - The settings for the integration
        + `actions` (array) - A list of AWS API call actions on which to trigger the routing
    + `result` (number) - The WARN (1) or FAIL (2) result on which to trigger the routing
    + `integrations` (array) - A list of integration objects
    
    + Body

            {
                "id": 13,
                "created": "2017-02-19T02:46:43.000Z",
                "key_id": 123,
                "enabled": true,
                "settings": {
                    "actions": [
                        "ec2:AuthorizeSecurityGroupEgress"
                    ]
                },
                "result": 2,
                "key": {...},
                "integrations": [{...}]
            }

## Routing [/routings/{id}]

### GET - View Routing Details [GET]

+ Parameters
    + id (number) - ID of the routing

+ Request (application/json)
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910

+ Response 200 (application/json)
    + `enabled` (boolean) Whether the routing is enabled or not
    + `key_id` (number) The ID of the associated key
    + `integration_ids` (array) An array of integration IDs
    + `result` (number) Whether a 1 (WARN) or 2 (FAIL) result should trigger the routing
    + `actions` (array) An array of action strings
    
    + Body

            {
                "id": 13,
                "created": "2017-02-19T02:46:43.000Z",
                "key_id": 123,
                "enabled": true,
                "settings": {
                    "actions": [
                        "ec2:AuthorizeSecurityGroupEgress"
                    ]
                },
                "result": 2,
                "key": {...},
                "integrations": [{...}]
            }

### PUT - Update a Routing [PUT]

Routings can be updated to change their associated key, integrations, result,
or actions.


+ Request (application/json)
    + `enabled` (boolean) Whether the routing is enabled or not
    + `key_id` (number) The ID of the associated key
    + `integration_ids` (array) An array of integration IDs
    + `result` (number) Whether a 1 (WARN) or 2 (FAIL) result should trigger the routing
    + `actions` (array) An array of action strings
    
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910
            
    + Body
    
            {
                "enabled": false,
                "actions": ["*"],
                "key_id": 124,
                "integration_ids": [1, 2, 3]
            }

+ Response 200 (application/json)
    
    + Body

            {
                "status": 200,
                "code": 0,
                data: {}
            }


### DELETE - Delete a Routing [DELETE]

Deleting a routing means that no further integration invocations will
be made for the specified settings and key.

+ Request (application/json)

    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910

+ Response 200 (application/json)
    
    + Body

            {
                "status": 200,
                "code": 0,
                data: {}
            }

# Group Scans
            
## Scans Collection [/scans{?limit,offset,key_id,group_ids,start_date,end_date}]

Scans are the core of the CloudSploit product. Each background scan for each key is saved
as a scan object and the results are then tied to that scan by ID. The scan also contains
additional metadata, including the number of passing, warning, failing, and unknown results.

### GET - List All Scans [GET]

+ Parameters
    + limit (number, optional) - A limit on the number of responses to return.
    + offset (number, optional) - An offset value for pagination.
    + key_id (number, optional) - An ID of the key to filter scan results. If not provided, all scans across all keys will be returned.
    + group_ids (string, optional) - A comma-separated list of groups for scans to return.
    + start_date (string, optional) - A start date for filtering. Format: YYYY-MM-DD.
    + end_date (string, optional) - An end date for filtering. Format: YYYY-MM-DD.

+ Request (application/json)
    + Headers
    
            X-API-Key: abc123
            X-Signature: xyz456
            X-Timestamp: 12345678910

+ Response 200 (application/json)
    + `id` (number) - The scan ID
    + `key_id` (number) - The associated key ID
    + `num_pass` (number) - The number of passing results in the scan
    + `num_warn` (number) - The number of warning results in the scan
    + `num_fail` (number) - The number of failing results in the scan
    + `num_unknown` (number) - The number of unknown results in the scan
    + `num_new_risks` (number) - The number of newly detected risk results in the scan
    + `created` (date) - The date of the scan creation
    + `key` (object) - The associated key data
    
    + Body

            [
                {
                    "id": 1,
                    "key_id": 1,
                    "num_pass": 182,
                    "num_warn": 35,
                    "num_fail": 48,
                    "num_unknown": 1,
                    "num_new_risks": 1,
                    "created": "2016-10-21T05:51:34.000Z",
                    "key": {
                        "name": "cloudsploit-demo"
                    }
                },
                {
                    "id": 2,
                    "key_id": 2,
                    "num_pass": 82,
                    "num_warn": 135,
                    "num_fail": 18,
                    "num_unknown": 0,
                    "num_new_risks": 0,
                    "created": "2016-10-20T05:46:23.000Z",
                    "key": {
                        "name": "my-account"
                    }
                }
            ]

## Scans [/scans/{id}]

### GET - View Scan Details [GET]

**DEPRECATED - The `/scans` endpoint has been deprecated in favor of `/scansv2` (see below).**

Returns the entire scan, including results and expanded test and category objects.

[...]
